body {
  padding: 0p x;
  margin: auto;
  background-color: #252428;
}

.jumbotron {
  padding-top: 2rem;
  background-color: #4c3575;
  color: white;
}

#projects {
  background-color: #4c3575;
  color: black;
  padding-left: 0px;
}

#contact {
  padding: left 0;
}

section {
  padding-top: 7rem;
}

.navbar {
  background-color: #371b58;
}
